# Canvas API auth
CANVAS_BASE_URL=https://xxx.instructure.com
# oauth2 or pat
CANVAS_AUTH_MODE=oauth2

# PAT auth (free-for-teachers Canvas)
CANVAS_TOKEN=replace_me

# OAuth2 client credentials (enterprise Canvas)
# In developer keys as ID and Key
CANVAS_CLIENT_ID=replace_me
CANVAS_CLIENT_SECRET=replace_me
# Add this Redirect URI to your developer key in Canvas
REDIRECT_URI=http://localhost:3000/callback
# Include scopes for this project
CANVAS_OAUTH_SCOPE=url:GET|/api/v1/courses/:id url:GET|/api/v1/courses/:course_id/settings

# Custom user agent (personal identifier required from Jan 2026)
CANVAS_USER_AGENT=your-email-or-tool-name/1.0
